In [5]:
# -*- coding: utf-8 -*-
"""
author SparkByExamples.com
"""
import findspark
findspark.init()
import  pyspark

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
                    .appName('SparkByExamples.com') \
                    .getOrCreate()

In [1]:
addnumbers=lambda x,y:x+y
result=addnumbers(1,2)
print(result)

3

In [2]:
(lambda x: x + 1)(2)

3

In [3]:
multiplynumbers=lambda x,y:x*2*2
result = multiplynumbers(2,3)
print(result)

8

In [6]:

data = [("James","Smith","USA","CA"),("Michael","Rose","USA","NY"), \
    ("Robert","Williams","USA","CA"),("Maria","Jones","USA","FL") \
  ]
columns=["firstname","lastname","country","state"]
df=spark.createDataFrame(data=data,schema=columns)
df.show()
#df.collect()
#print(df.collect())

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [7]:

states1=df.rdd.map(lambda x: x[3]).collect()
print(states1)

distinct_values = df.rdd.map(lambda x: x[2]).distinct().collect()

print(distinct_values)

['CA', 'NY', 'CA', 'FL']
['USA']

In [12]:
type(states1)
type(distinct_values)

list

#To get single column from df

In [16]:
lastnames=df.rdd.map(lambda a:a[1]).collect()

print(lastnames)

['Smith', 'Rose', 'Williams', 'Jones']

In [18]:
display(states1)

['CA', 'NY', 'CA', 'FL']

In [21]:
#['CA', 'NY', 'CA', 'FL']
from collections import OrderedDict 

res = list(OrderedDict.fromkeys(states1)) 
print(res)

type(res)
#['CA', 'NY', 'FL']

['CA', 'NY', 'FL']

list

In [24]:


#Example 2
states2=df.rdd.map(lambda x: x.state).collect()
print(states2)

['CA', 'NY', 'CA', 'FL']

In [27]:
#Example 2
firstnames=df.rdd.map(lambda x: x.firstname).collect()
print(firstnames)

['James', 'Michael', 'Robert', 'Maria']

In [28]:
states2=df.rdd.map(lambda x: x.state).collect()

In [30]:
#['CA', 'NY', 'CA', 'FL']

states3=df.select(df.state).collect()
print(states3)
#[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]
type(states3)

[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]

list

In [31]:

states4=df.select(df.state).rdd.flatMap(lambda x: x).collect()
print(states4)

['CA', 'NY', 'CA', 'FL']

In [34]:
states41=df.select(df.state).rdd.flatMap(lambda x: x).collect()
print(states41)

['CA', 'NY', 'CA', 'FL']

In [36]:
#['CA', 'NY', 'CA', 'FL']

states5=df.select(df.state).toPandas()['state']
type(states5)

pandas.core.series.Series

In [37]:
states6=list(states5)
print(states6)

['CA', 'NY', 'CA', 'FL']

In [38]:
#['CA', 'NY', 'CA', 'FL']

pandDF=df.select(df.state,df.firstname).toPandas()
print(list(pandDF['state']))
print(list(pandDF['firstname']))

['CA', 'NY', 'CA', 'FL']
['James', 'Michael', 'Robert', 'Maria']